img{
    width: 40%;
    padding: 5px;
    border: 2px solid #ddd;
    border-radius: 4px;
    position: relative;
}

.mainDiv{
    width: 100%;
}

.mat-card{
    padding: 20px;
    margin-top: 15px;
}


button{
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mat-card-title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
}