    <div class="mainDiv" style="width: 50%; margin-left: 25%;">
            <mat-card>
                <div *ngFor="let blog of blogs"> 
                    <img [src]="blog.imgUrl"  [alt]="blog.title">
                    <p>{{blog.author}} &nbsp; {{blog.created_at}}</p> 
                    <button mat-raised-button color="primary" id="{{blog.id}}" 
                    (click)="getBlogDetails(blog)" >VIEW  DETAILS</button> <br><br>
                    <mat-card-title>
                        {{blog.title}}
                    </mat-card-title>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, 
                        commodi in? Amet quaerat, fugiat voluptas eveniet perspiciatis officiis
                         quae deleniti debitis itaque atque magni, expedita nisi non asperiores, 
                         corporis aut!
                    </p>
                </div>
            </mat-card>
               
    </div>

