.container{
    margin: 25px;
}

/*Search box style*/
 input[type=text] {
    width: 200px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }

  
.search{
    padding: 0px;
    font-size: 16px;
}

.text-center{
font-family: cursive;
}
/*===================================*/
.blog{
    padding: 50px 100px;
    }
    
    .box{
        background-color: #ffffff;
        padding: 10px 20px;
    }
    
    @media screen and (max-width:600px){
        .course{
            background-color: #eff6ff;
            padding: 50px 10px;
            }  
    }

    img{
        width: 80%;
        padding: 5px;
        border: 2px solid #ddd;
        border-radius: 4px;
        position: relative;
    }
    