
<section class="blog">
    <div class="container">
    <h3 class="text-center">VIEW BLOG DETAILS</h3>
  </div>
    <div class="row mt-5">
        <div class="col-lg-6" >
            <div class="box shadow-sm">
                <img [src]="blog.imgUrl" width="100%">
                <h3 class="mt-2">{{blog.author}} &nbsp;&nbsp; {{blog.created_at}}</h3>
                <p class="mt-2">{{blog.title}}</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate distinctio consequuntur magnam? Cupiditate, eius maxime itaque, blanditiis officiis recusandae veritatis repellat fugit est odit quidem modi perspiciatis voluptate sint tenetur!</p>
            </div>
        </div>
        <div class="col-lg-6" >
            <div class="box shadow-sm">
                <label class="search">Search Here:&nbsp;&nbsp;</label>
                <input type="text"> <br><br>
              <div class="col-md-12 col-sm-12 col-xs-12" >
                <div class="widget widget-recent-post outline">
                    <h3 class="widget-title mb30">RECENT POST</h3>
                    <ul class="listnone" >
                        <li>
                            <div class="recent-block mb20" >
                                <div *ngFor="let blog of blogs">
                                    <div class="col-md-9 col-sm-2 col-xs-5">
                                        <img [src]="blog.imgUrl"  class="img-responsive mb10">
                                    </div>
                                    <div class="col-md-3 col-sm-10 col-xs-7">
                                        <h4 class="recent-title"><a href="#" class="title">Add Blog</a></h4>
                                        <div class="meta">
                                     <span class="meta-date">{{blog.created_at}}</span> </div>
                                     </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
         </div>
        </div>
    </div>
</section>













